DSSCS/practica2/FlightApp/SOA/Schemas/Empleado.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/practica2/FlightApp/EmpleadoBPELProcess"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="nombre" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="clase" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>