DSSCS/practica2/ShoppingApp/SOA/Schemas/VerPrecios.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/practica2/ShoppingApp/VerPrecios"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="producto" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
                                <element name="precio" type="float"/>
                                <element name="enStock" type="boolean"/>
			</sequence>
		</complexType>
	</element>
</schema>